.git
.gitignore
.vscode
.idea

node_modules
**/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
**/coverage
dist
**/dist

tests
docs
LessGo
db

*.md

.env
.env.*
!.env.example

# Kubernetes secrets
k8s-manifests/lessgo-secrets.yaml

uploads
**/uploads

.DS_Store
